<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learn-for</title>
    <style>
        .active{
            background:red;
        }
    </style>
</head>
<body>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
<div id="app">
    <ul>
        <li v-for="stu in grade">{{ stu.name }} 的年级是 {{stu.grade }}</li>
    </ul>
    <!-- v-bind 可以省略-->
    <a v-bind:class="{active:isActive}" v-bind:href="url">点我  </a>

    <div v-if="role== 'admin' ">
        欢迎管理员
    </div>
    <div v-else-if="role== 'hr'">
        欢迎人事
    </div>
    <div v-else="">
        您没有权限查看页面
    </div>
</div>
<script src="./js/vue-for.js"></script>
</body>
</html>